<a href="https://colab.research.google.com/github/MauhF/Programa-ao-Fpb/blob/main/aula_exerc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
nomes =  ['zé', 'tião', 'joaquim']
nomes.append('julia')
nomes

['zé', 'tião', 'joaquim', 'julia']

In [16]:
#vários valores
outrosnomes = ['Ana', 'Zabé', 'Maria' ]
nomes.extend(outrosnomes)
nomes

['zé', 'tião', 'joaquim', 'julia', 'Ana', 'Zabé', 'Maria']

In [18]:
#Crie uma lista de números e
numeros = [2, 4, 1, 6, 9, 12]
#Remova o primeiro elemento da lista
numeros.remove(numeros[0])
#removero o último elemento da lista
numeros.pop()

numeros

[4, 1, 6, 9]

In [27]:
#1 -  Crie uma lista de notas, e exiba-a da menor para o maior
notas = [2,10,9,4,7,3,8]
nomes = ['Ademar', 'Maristênio', 'Adrúbal', 'Leo']
nomes.sort()
nomes.sort(reverse=True)

nomes
#2 - Crie uma lista de nomes de frutas e ordene-a em ordem descrecente

['Maristênio', 'Leo', 'Adrúbal', 'Ademar']

In [29]:
#Exemplo função map - cria uma nova lista co o dobro
numeros = [2, 4, 6, 3]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[4, 8, 12, 6]

In [38]:
#pegar cada um dos números e dividir por 3
numDiv = list(map(lambda x : x/3, numeros))
numDiv

[0.6666666666666666, 1.3333333333333333, 2.0, 1.0]

In [37]:
#Pega cada númeroe soma 2
numSom = list(map(lambda x : x+2, numeros))
numSom

[4, 6, 8, 5]

In [42]:
#Exemplo de funçao Filter - a partir de uma lista de nomes,

nomes = ['José', 'João', 'Sebastião', 'Angelica', 'Leonardo', 'Barbara']
new_list =  list(filter(lambda x : len(x)>5, nomes))
new_list

['Sebastião', 'Angelica', 'Leonardo', 'Barbara']

In [54]:
#Crie uma lista de notas, imprime apenas as maiores que 6
notas1 = [7, 8, 9, 10, 6, 5, 3]
new_list = list(filter(lambda x : x>6, notas))
new_list

[10, 9, 7, 8]

In [55]:
#Exercicio 1
newlist = [2, 6 , 3, 7, 9]
new_list = list(map(lambda x : x*2, numeros))
new_list

[4, 8, 12, 6]

In [76]:
#Dada uma lista de nomes,retorne uma lista contendo o tamanho de cada nome.
nomes = ['Tesla', 'Betania', 'Neston', 'Hilda']

new_list = list(map(lambda x : len(x),  nomes))
new_list

[5, 7, 6, 5]

In [81]:
#exerc 3
numeros = [8, 6, 7, 9]
numeros = list(filter(lambda x : x%2==0, numeros))
numeros

[8, 6]

In [84]:
nomes = ['Karina', 'Emma', 'Amanda', 'Alice', 'Luna']
new_list = list(filter(lambda x : x[0] == 'A', nomes))
new_list

['Amanda', 'Alice']